<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gacha Recipe System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="topbar">
    <a href="/breakfast" class="active">Breakfast</a>
    <a href="/lunch">Lunch</a>
    <a href="/dinner">Dinner</a>
    <a href="/dessert">Dessert</a>
    <a href="/drinks">Drinks</a>
</div>

<div class="container">

<h1 class="category-title">🥯 Breakfast 🥞</h1>

<p class="subtitle">
    A great day begins with a great breakfast.  
    Let’s spin and discover a perfect meal to start your day right ✨
</p>

    <!-- GACHA IMAGE -->
    <img id="gachaImg" class="gacha-img fade-in"
     src="{{ url_for('static', filename='gacha.png') }}">

    <div id="ball" class="ball red"></div>

    <div class="machine-box">

        <div id="result">
            Click spin to get your recipe 🍽️
        </div>

        <button onclick="spin()">SPIN 🎲</button>

    </div>

</div>

<script>
function spin() {

    let resultBox = document.getElementById("result");
    let button = document.querySelector("button");
    let gachaImg = document.getElementById("gachaImg");

    button.disabled = true;

    gachaImg.classList.add("spin");
    resultBox.innerText = "Spinning...";

    setTimeout(() => {

    let colors = ["red", "yellow", "green", "blue", "purple"];
    let ball = document.getElementById("ball");

    ball.classList.remove(...colors);

    let randomColor = colors[Math.floor(Math.random() * colors.length)];
    ball.classList.add(randomColor);

    ball.classList.add("drop");

    fetch('/random')
        .then(res => res.json())
        .then(data => {

            resultBox.innerText = "Revealing...";

            setTimeout(() => {

                resultBox.innerText = "You got: " + data.recipe;

                gachaImg.classList.remove("spin");

                ball.classList.remove("drop");
                ball.classList.remove(...colors);

                button.disabled = false;

            }, 800);

        });

    }, 1000);
}
</script>

</body>
</html>