<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gacha Recipe System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="topbar">
    <a href="/breakfast">Breakfast</a>
    <a href="/lunch">Lunch</a>
    <a href="/dinner" class="active">Dinner</a>
    <a href="/dessert">Dessert</a>
    <a href="/drinks">Drinks</a>
</div>

<div class="container">

<h1 class="category-title">🍽 Dinner 🍖</h1>

<p class="subtitle">
    The day is finally coming to an end.
    Treat yourself to a comforting dinner and recharge for tomorrow 🌙
</p>

<div class="machine-wrapper">

    <img id="gachaImg" class="gacha-img fade-in"
         src="{{ url_for('static', filename='gacha.png') }}">   <!-- GACHA IMAGE -->

    <div class="balls-inside">
        <div class="mini-ball red"></div>
        <div class="mini-ball blue"></div>
        <div class="mini-ball yellow"></div>
        <div class="mini-ball green"></div>
        <div class="mini-ball purple"></div>
    </div>

</div>

    <div id="ball" class="ball red"></div>

    <div class="machine-box">

        <div id="result">
            Click spin to get your recipe 🍽️
        </div>

        <button onclick="spin()">SPIN 🎲</button>

    </div>

</div>

<script>
function spin() {

    let resultBox = document.getElementById("result");
    let button = document.querySelector("button");
    let gachaImg = document.getElementById("gachaImg");

    let inside = document.querySelector(".balls-inside");
    inside.classList.add("spin-inside");

    button.disabled = true;

    gachaImg.classList.add("shake");
    resultBox.innerText = "Spinning...";

    setTimeout(() => {

    let colors = ["red", "yellow", "green", "blue", "purple"];
    let ball = document.getElementById("ball");

    ball.classList.remove(...colors);

    let randomColor = colors[Math.floor(Math.random() * colors.length)];
    ball.classList.add(randomColor);

    ball.classList.add("drop");

    fetch('/random')
        .then(res => res.json())
        .then(data => {

            resultBox.innerText = "Revealing...";

            setTimeout(() => {

                resultBox.innerText = "You got: " + data.recipe;

                gachaImg.classList.remove("shake");

                ball.classList.remove("drop");
                ball.classList.remove(...colors);
                inside.classList.remove("spin-inside");

                button.disabled = false;

            }, 800);

        });

    }, 1000);
}
</script>

</body>
</html>