<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gacha Recipe System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="topbar">
    <a href="/breakfast">Breakfast</a>
    <a href="/lunch">Lunch</a>
    <a href="/dinner">Dinner</a>
    <a href="/dessert">Dessert</a>
    <a href="/drinks" class="active">Drinks</a>
</div>

<div class="container">

<h1 class="category-title">🧋 Drinks 🍹</h1>

<p class="subtitle">
    Feeling the heat?
    Grab a refreshing drink and cool yourself down with a little surprise ❄️
</p>

<div class="machine-wrapper">

    <img id="gachaImg" class="gacha-img fade-in"
         src="{{ url_for('static', filename='gacha1.png') }}">   <!-- GACHA IMAGE -->

    <div class="balls-inside">
        <div class="mini-ball red"></div>
        <div class="mini-ball red"></div>
        <div class="mini-ball red"></div>
        <div class="mini-ball red"></div>
        <div class="mini-ball red"></div>

        <div class="mini-ball yellow"></div>
        <div class="mini-ball yellow"></div>
        <div class="mini-ball yellow"></div>
        <div class="mini-ball yellow"></div>
        <div class="mini-ball yellow"></div>
        <div class="mini-ball yellow"></div>
        <div class="mini-ball yellow"></div>

        <div class="mini-ball green"></div>
        <div class="mini-ball green"></div>
        <div class="mini-ball green"></div>
        <div class="mini-ball green"></div>

        <div class="mini-ball purple"></div>
        <div class="mini-ball purple"></div>
        <div class="mini-ball purple"></div>
        <div class="mini-ball purple"></div>
        <div class="mini-ball purple"></div>
</div>

</div>

    <div id="ball" class="ball red"></div>

    <div class="machine-box">

        <div id="result">
            Click spin to get your recipe 🍽️
        </div>

        <button onclick="spin()">SPIN 🎲</button>

    </div>

</div>

<script>

let balls = document.querySelectorAll(".mini-ball");

window.onload = function () {

    let balls = document.querySelectorAll(".mini-ball");

    let maxX = 70;
    let maxY = 70;

    let colors = ["red","yellow","green","blue","purple"];

    balls.forEach((ball, index) => {

        let color = colors[Math.floor(Math.random() * colors.length)];
        ball.className = "mini-ball " + color;

        let x = (Math.random() - 0.5) * 2 * maxX;
        let y = (Math.random() - 0.5) * 2 * maxY;

        let jitterX = (Math.random() - 0.5) * 10;
        let jitterY = (Math.random() - 0.5) * 10;

        ball.style.left = "50%";
        ball.style.top = "50%";

        ball.style.transform = `translate(${x + jitterX}px, ${y + jitterY}px)`;
    });

};

function spin() {

    let resultBox = document.getElementById("result");
    let button = document.querySelector("button");
    let gachaImg = document.getElementById("gachaImg");
    let inside = document.querySelector(".balls-inside");
    let ball = document.getElementById("ball");

    let colors = ["red","yellow","green","blue","purple"];

    button.disabled = true;

    // start shake and spin inside
    gachaImg.classList.add("shake");
    inside.classList.add("spin-inside");

    resultBox.innerText = "Spinning...";

    setTimeout(() => {

        // ball come out via ramdom color
        let randomColor = colors[Math.floor(Math.random() * colors.length)];
        ball.className = "ball " + randomColor;

        // ball come out
        ball.classList.add("drop");

        fetch('/random')
        .then(res => res.json())
        .then(data => {

            setTimeout(() => {

                // show result
                resultBox.innerText = "You got: " + data.recipe;

                // stop animation
                gachaImg.classList.remove("shake");
                inside.classList.remove("spin-inside");

                ball.classList.remove("drop");

                button.disabled = false;

            }, 500);

        });

    }, 1000);
}
</script>

</body>
</html>