<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gacha Recipe System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="topbar">
    <a href="/breakfast">Breakfast</a>
    <a href="/lunch">Lunch</a>
    <a href="/dinner">Dinner</a>
    <a href="/dessert">Dessert</a>
    <a href="/drinks" class="active">Drinks</a>
</div>

<div class="container">

<h1 class="category-title">🧋 Drinks 🍹</h1>

<p class="subtitle">
    Feeling the heat?
    Grab a refreshing drink and cool yourself down with a little surprise ❄️
</p>

    <!-- GACHA IMAGE -->
    <img id="gachaImg" class="gacha-img"
     src="{{ url_for('static', filename='gacha.png') }}">

    <div class="machine-box">

        <div id="result">
            Click spin to get your recipe 🍽️
        </div>

        <button onclick="spin()">SPIN 🎲</button>

    </div>

</div>

<script>
function spin() {

    let resultBox = document.getElementById("result");
    let button = document.querySelector("button");
    let gachaImg = document.getElementById("gachaImg");

    button.disabled = true;

    gachaImg.classList.add("spin");

    resultBox.innerText = "Spinning...";

    setTimeout(() => {

        fetch('/random')
        .then(res => res.json())
        .then(data => {

            resultBox.innerText = "Revealing...";

            setTimeout(() => {

                resultBox.innerText = "You got: " + data.recipe;

                gachaImg.classList.remove("spin");

                button.disabled = false;

            }, 500);

        });

    }, 1000);
}
</script>

</body>
</html>