{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
<div class="home-container">

    <h1 class="home-title">
        What should I eat <span>today?</span>
    </h1>

    <div class="home-image-wrapper">
        <img id="foodImage" src="{{ url_for('static', filename='css/picture/dishclose.png') }}">
        <button class="lid-btn" onclick="liftLid()">🍽 Lift the lid</button>
    </div>

    <a href="#" class="menu-btn">Access Menu →</a>

</div>
<div class="recipe-slider">

    <h2>Popular Picks🔥</h2>

    <div class="slider-container">

        <div class="slider" id="slider">
        
            <div class="home-card">
                <div class="card-img-wrapper">
                    <img src="{{ url_for('static', filename='css/picture/f1.jpg') }}">
                    <div class="saved-tag">💾 120 saved</div>
                </div>
                <p>Sweet Apples Squares</p>
            </div>

            <div class="home-card">
                <div class="card-img-wrapper">
                    <img src="{{ url_for('static', filename='css/picture/f2.jpg') }}">
                    <div class="saved-tag">💾 70 saved</div>
                </div>
                <p>Chicken Adobo</p>
            </div>

            <div class="home-card">
                <div class="card-img-wrapper">
                    <img src="{{ url_for('static', filename='css/picture/f3.jpg') }}">
                    <div class="saved-tag">💾 10 saved</div>
                </div>
                <p>Cinanamon Chicken Curry</p>
            </div>
            <div class="home-card">
                <div class="card-img-wrapper">
                    <img src="{{ url_for('static', filename='css/picture/f4.jpg') }}">
                    <div class="saved-tag">💾 90 saved</div>
                </div>
                <p>Chickpea stew</p>
            </div>
            <div class="home-card">
                <div class="card-img-wrapper">
                    <img src="{{ url_for('static', filename='css/picture/f5.jpg') }}">
                    <div class="saved-tag">💾 70 saved</div>
                </div>
                <p>Rainbow Salad</p>
            </div>
            <div class="home-card">
                <div class="card-img-wrapper">
                    <img src="{{ url_for('static', filename='css/picture/f5.jpg') }}">
                    <div class="saved-tag">💾 70 saved</div>
                </div>
                <p>Avocado Toast</p>
            </div>
        </div>
        <button class="slide-btn left" onclick="slideLeft()">‹</button>
        <button class="slide-btn right" onclick="slideRight()">›</button>

    </div>

</div>

<div class="feature-block">

    <div class="feature-text">
        <h2>Cook with What You Have 🍳</h2>
        <p>Select your ingredients and discover recipes instantly.</p>

        <div class="ingredient-tags">
            <button class="tag">Chicken</button>
            <button class="tag">Egg</button>
            <button class="tag">Rice</button>
            <button class="tag">Tomato</button>
            <button class="tag">Cheese</button>
            <button class="tag">Onion</button>
            <button class="tag">Noodles</button>
        </div>

        <a href="#" class="feature-btn">Cook Now →</a>
    </div>

    <div class="feature-visual">
        <img src="{{ url_for('static', filename='css/picture/ingredients.jpg') }}">
    </div>

</div>
<div class="feature-block block">

    <div class="feature-visual">
            <img src="{{ url_for('static', filename='css/picture/gacha.png') }}">
    </div>
    <div class="feature-text">
        <h2>Can't Decide? 🎡</h2>
        <p>Let our random spinner choose your meal.</p>

        <p class="preview-note">Watch how it works 👇</p>

        <a href="/spin" class="feature-btn">Try the Spinner →</a>
    </div>
</div>
<div class="feature-block search-block">
    <div class="feature-text">
        <h2>Find Your Favorite Meal 🔍</h2>
        <p>Search recipes by name or ingredients.</p>

        <input type="text" class="search-box" placeholder="Search recipes...">

        <a href="/search" class="feature-btn">Go to Search →</a>
    </div>
</div>
{% endblock %}

