{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}


<div class="profile-container">

    <!-- LEFT -->
    <div class="profile-left">

        <div class="profile-card">

            <div class="profile-img-box">
                <img src="#">
            </div>

            <form method="POST" enctype="multipart/form-data">
                <label class="upload-circle">
                    +
                    <input type="file" name="profile_pic" hidden>
                </label>
            </form>

            <p class="upload-text">Upload Profile Picture</p>

        </div>

    </div>

    <!-- RIGHT -->
    <div class="profile-right">

        <div class="info-card">

            <h1>PROFILE</h1>

            <form method="POST" action="{{ url_for('profile') }}">

                <div class="input-box">
                    <label for="username">Username</label>
                    <input id="username" type="text" value="{{ username }}" disabled>
                </div>

                <div class="input-box">
                    <label for="email">Email</label>
                    <input id="email" type="email" value="{{ email }}" disabled>
                </div>

                <div class="input-box">
                    <label for="bio">Bio</label>
                    <input id="bio" type="text" value="{{ bio }}" disabled>
                </div>

                <button type="submit" class="edit-btn">
                    Edit Profile
                </button>

            </form>

        </div>

    </div>

</div>
{% endblock %}
