<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RESETPASSWORD</title>
        <link rel="icon" href="{{ url_for('static', filename='egg.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>

    </head>
    <body data-page="reset">
        <div class="page-container">
            <div class="book-section">
                <div class="book">       
                    <div class="spread" id="s1">
                        <div class="page-left">
                            <img src="{{ url_for('static', filename='css/picture/food1.jpg') }}">
                        </div>
                        <div class="page-right">
                            <img src="{{ url_for('static', filename='css/picture/food2.jpg') }}">
                        </div>
                    </div>
                    <div class="spread" id="s2">
                        <div class="page-left">
                            <img src="{{ url_for('static', filename='css/picture/food3.jpg') }}">
                        </div>
                        <div class="page-right">
                            <img src="{{ url_for('static', filename='css/picture/food4.jpg') }}">                           
                        </div>                
                    </div>
                    <div class="spread" id="s3">
                        <div class="page-left">
                            <img src="{{ url_for('static', filename='css/picture/food5.jpg') }}">
                        </div>
                        <div class="page-right">
                            <img src="{{ url_for('static', filename='css/picture/food6.jpg') }}">
                            <!-- FINAL BUTTON -->
                            <button class="access-btn" onclick="goLogin()">
                                Access Recipe
                            </button>
                        </div>                
                    </div>
                    <div class="nav-buttons">
                        <button class="nav-btn" onclick="prevPage()">❮</button>
                        <button class="nav-btn" onclick="nextPage()">❯</button>
                    </div>
                </div>
            </div>
            <div class="auth-wrapper">
                <h1 class="auth-title">RESET PASSWORD</h1>
                <p id="error-message" class="error-msg">{{ error if error else "" }}</p>
                <form id="form" class="auth-form" method="POST">
                    <div>
                        <label for="email-input">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/></svg>
                        </label>
                        <input type="email" name="email" id="email-input" placeholder="Enter your email">
                    </div>
                    <button type="submit">SEND</button>
                </form>
            </div>
    </body>
</html>